<header class="cabecalho ff-inter">
  <div class="logo">
    <img src="../../../assets/imagens/logo-lagun.png" alt="Logo da aplicação Lagun Imoveis">
  </div>

  <div class="acoes" style="display: flex; justify-content: space-between;">
    <button class="botao">Imóveis</button>
    <button class="botao">Home</button>
  </div>

  <div class="acoes" style="display: flex; justify-content: space-between;">
    <button class="botao">Cadastrar</button>
    <button class="botao">Entrar</button>
  </div>

