<section class="container criar-conta ff-inter">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/imagens/logo-lagun.png" alt="Logo da aplicação Lagun Imoveis">
    </div>
    <div class="form">
      <header class="header">
          <h2>Crie uma nova conta</h2>
      </header>

      <form class="large-form">
        <label for="nome">Nome</label>
        <input
          type="textarea"
          class="input"
          id="nome"
          name="nome"
          placeholder="Nome"
        >

        <label for="sobrenome">Sobrenome</label>
        <input
          type="textarea"
          class="input"
          id="sobrenome"
          name="sobrenome"
          placeholder="Sobrenome"
        >

        <label for="email">Email</label>
        <input
          type="textarea"
          class="input"
          id="email"
          name="email"
          placeholder="Digite o seu email"
        >

        <label for="senha">Senha</label>
        <input
          type="password"
          class="input"
          id="senha"
          name="senha"
          placeholder="Digite a sua senha"
        >

        <label for="confirmar-senha">Confirmar senha</label>
        <input
          type="password"
          class="input"
          id="confirmar-senha"
          name="confirmar-senha"
          placeholder="Digite a senha novamente"
        >

        <label for="cpf">CPF</label>
        <input
          type="textarea"
          class="input"
          id="cpf"
          name="cpf"
          placeholder="Informe o seu CPF"
        >

        <label for="telefone">Telefone</label>
        <input
          type="textarea"
          class="input"
          id="telefone"
          name="telefone"
          placeholder="Informe o seu número de telefone"
        >
        <div class="acoes">
          <button class="botao">Cadastrar</button>
        </div>
        <label class="texto" for="modelo">Já tem uma conta? Entrar</label>
      </form>
    </div>
  </div>
</section>
