<div class="descricao-componente">
  <div class="logo-esquerda">
    <img src="../../../assets/imagens/logo-lagun.png" alt="Logo da aplicação Lagun Imoveis">
  </div>
  <div class="texto-direita">
    <h3>SOBRE A LAGUN IMÓVEIS</h3>
    <p>Nós somos um site que visa facilitar o processo de aluguel, compra e venda de imóveis em todo o Brasil. Com nossa plataforma, usuários podem cadastrar e visualizar imóveis de diferentes regiões do Brasil de forma simples e prática.</p>
    <p>Nosso objetivo é oferecer acesso a uma variedade de opções de imóveis de maneira fácil e segura. Estamos comprometidos em fornecer uma plataforma confiável e eficaz, porque acreditamos que encontrar o lugar certo é fundamental para a felicidade dos nossos usuários.</p>
  </div>
</div>
